<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASYdnwyV0ZbvhCKInIXiVNqZA4yTsDf0E</string>
	<key>GCM_SENDER_ID</key>
	<string>330052799001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.balloonPopGame</string>
	<key>PROJECT_ID</key>
	<string>balloon-pop-ce569</string>
	<key>STORAGE_BUCKET</key>
	<string>balloon-pop-ce569.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330052799001:ios:64a360a58964c6bd10b888</string>
</dict>
</plist>